html {
background-color: black;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.navbar {
    grid-row-start: 1;
    grid-row-end: 3;
    display:flex;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    overflow: auto;
    background: rgb(7,1,108);
    background: linear-gradient(27deg, rgba(7,1,108,1) 0%, rgba(9,9,121,1) 0%, rgba(2,83,99,1) 100%);
    text-align: left;
    align-items: center;
    color: white;
  }

  .navlinks {
    list-style-type: none;
  }

  li {
      margin-bottom: 20%;
  }

  .reviews {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    overflow: auto;
    background: rgb(7,1,108);
    background: linear-gradient(27deg, rgba(7,1,108,1) 0%, rgba(9,9,121,1) 0%, rgba(2,83,99,1) 100%);
    color: white;
  }

  .rating {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    overflow: auto;
    background: rgb(7,1,108);
    background: linear-gradient(27deg, rgba(7,1,108,1) 0%, rgba(9,9,121,1) 0%, rgba(2,83,99,1) 100%);
    color: white;
  }

  .analysis {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    overflow: auto;
    background: rgb(7,1,108);
    background: linear-gradient(27deg, rgba(7,1,108,1) 0%, rgba(9,9,121,1) 0%, rgba(2,83,99,1) 100%);
    color: white;
  }

  .visitors {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(7,1,108);
    background: linear-gradient(27deg, rgba(7,1,108,1) 0%, rgba(9,9,121,1) 0%, rgba(2,83,99,1) 100%);
    color: white;
  }

  .weirdBox {
    display: flex;
    justify-self: center;
    text-align: center;
    width: 95%;
    height: 25vh;
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    background: white;
  }